<!DOCTYPE html>
<html>
<head></head>
<script src="angular.min.js"></script>
<script>
angular.module('rt',[]).controller('ctl',function($scope,$rootScope){
$scope.login=true;
$rootScope.home=false;
$scope.get=function(){
alert("you are logged in");
alert($scope.login);
$scope.login=false;
$rootScope.home=true;
$rootScope.display="Home Page";
}
}).controller('ctl1',function($scope){
$scope.get=function(){

}
});

</script>
<body ng-app="rt">
<div ng-controller="ctl" ng-show="login">
USER NAME<input type="text" ng-model="name" placeholder="enter your user name">
PASSWORD<input type="text" ng-model="password" placeholder="enter your password">
<p><button type="button" ng-click="get();">login</button>
</div>
<div  ng-controller="ctl1" ng-show="home">
welcome to my {{display}}
</div>

</body>
</html>